/* General Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

/* Header */
header {
  background: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

header h1 {
  margin: 0;
}
.contform{
  height: 540px;
}

/* Main Content */
.main-content {
  padding: 1rem;
  max-width: 800px;
  margin: 20px auto;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content h1 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 100;
  text-decoration: underline;
}

/* Contact Form */
.Inpform {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.Inpform label {
  margin-bottom: 0.5rem;
}

.Inpform input,
.Inpform textarea {
  padding: 0.5rem;
  border: 1px solid #6666a6;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 1rem;
  background-color: #fcfcfc;
  width: 100%;
}

.Inpform button {
  padding: 0.7rem;
  border: none;
  background: #333;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 100px;
  align-self: center;
}

.Inpform button:hover {
  background: #555;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem 0;
  background: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Contact Image */
.contimg {
  display: flex;
  justify-content: center;
}

.contimg img {
  width: 80vw;
}

/* Media Queries */
@media (max-width: 768px) {
  .contimg img {
    height: auto;
    max-width: 100%;
  }

  .Inpform input,
  .Inpform textarea {
    margin: 0;
  }
}
