.form{
    margin: auto;
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
}
.loginbutton{
    margin: auto;
    width: 14%;
    background-color: gray;
    border: none;
    height: 39px;
    border-radius: 10px;
  }