.form {
  margin: auto;
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
}
.regisbutton {
  margin: auto;
  width: 14%;
  background-color: gray;
  border: none;
  height: 39px;
  border-radius: 10px;
}

button:hover{
    background-color: black;
    color: white;
}