.navbar a{
    color: white;
}
.dropdown-menu a{
    color: black;
}
.btnNav{
    position: absolute;
    right: 10px;  
    text-decoration: none;
    padding: 0px;
}

@media (max-width: 982px) {
    .navbar-toggler {
      width: 50px;
      position: absolute;
      right: 10px;
      top: 5px;
      border: none;
    }
    .navbar-toggler:focus{
      box-shadow: none;
    }
  }
  
  @media (max-width: 982px){
    .btnNav{
      position: absolute;
      top: 10px;
      right: 100px;
    }
  }
 
  
  .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.5 12.5a.5.5 0 010-1h13a.5.5 0 010 1h-13zm0-5a.5.5 0 010-1h13a.5.5 0 010 1h-13zm0-5a.5.5 0 010-1h13a.5.5 0 010 1h-13z'/%3E%3C/svg%3E");
  }
  
  .navbar-toggler.collapsed .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M.292 13.707a1 1 0 011.414 0L8 5.414l6.293 6.293a1 1 0 011.414-1.414L9.414 4 15.707.707a1 1 0 00-1.414-1.414L8 2.586 1.707-1.707a1 1 0 00-1.414 1.414L6.586 4 .293 10.293a1 1 0 000 1.414z'/%3E%3C/svg%3E");
  }
  
  #logoutbtn{
    padding: 10px;
  }